Django>=4.2.3,<5.0.0
Jinja2>=3.1.2,<4.0.0
redis[hiredis]
psycopg2-binary
django-bootstrap5
django_bootstrap_icons
gunicorn
uvicorn[standard]
django-filter
django_components
django-watson
django-pghistory
django-pgtrigger
django-role-permissions
django-crispy-forms
crispy-bootstrap5
django-allauth
django-select2
django-environ
Pillow

django-ninja
orjson

