{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned raised grid container">
      <h1>{{ user.username }}</h1>
      <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
