<div class="card mt-4 text-bg-info">
    <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">Электронное издание</h6>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h6>Выходные сведения</h6>
            </div>
            <small>{{ pas.publication_imprint }}</small>
        </li>
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h6>ISBN</h6>
            </div>
            <small>{{ pas.publication_isbn }}</small>
        </li>
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h6>Регистрационный номер</h6>
            </div>
            <small>{{ pas.publication_reg_num }}</small>
        </li>
    </ul>
    <div class="card-footer text-center">
        <br>
    </div>
</div>
