{% extends "base.html" %}
{% load static %}
{% block content %}
   {% component "navbar" user=user %}{% endcomponent %}
   {% component "breadcrumbs" bcs=breadcrumbs %}{% endcomponent %}
   <div class="container">
      <div class="row py-3">
         <div class="col-lg-9 py-2">
            <ol class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Вид ЭОР</div>
                     {{ passport.type }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Наименование ЭОР</div>
                     {{ passport.title }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Авторы ЭОР</div>
                     {{ passport.authors }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Аннотация ЭОР</div>
                     {{ passport.description | safe }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Пререквизиты ЭОР</div>
                     {{ passport.prerequisites | safe }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Целевая аудитория ЭОР</div>
                     {{ passport.target | safe }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Направления подготовки, для использования в рамках которых предназначен ЭОР</div>
                     <ul>
                        {% for direction_tag in passport.direction_tags %}<li>{{ direction_tag.name }}</li>{% endfor %}
                     </ul>
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Дисциплины (модули), для использования в рамках которых предназначен ЭОР</div>
                     <ul>
                        {% for subject_tag in passport.subject_tags %}<li>{{ subject_tag.name }}</li>{% endfor %}
                     </ul>
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Перечень компетенций, в формировании которых участвует ЭОР</div>
                     <ul>
                        {% for competence in passport.competences %}<li>{{ competence.name }}</li>{% endfor %}
                     </ul>
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Перчень разделов (тем) ЭОР</div>
                     {{ passport.structure | safe }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Наличие в ЭОР интерактивных компонентов и степень их автоматизации</div>
                     {{ passport.interactive }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Ключевые слова</div>
                     {{ passport.keywords }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Результаты освоение ЭОР</div>
                     {{passport.result_edu | safe}}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Трудоемкость освоения ЭОР</div>
                     {{ passport.credits }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Язык контента ЭОР</div>
                     {{ passport.language }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Минимальные системные требования</div>
                     {{ passport.requirements | safe }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Правообладатель ЭОР</div>
                     {{ passport.copyright_holder }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Подразделение-держатель ЭОР и контактные данные ответственного лица</div>
                     {{ passport.department }}
                  </div>
               </li>
            </ol>
         </div>
         <div class="col-lg-3 py-2">
            <div class="card text-bg-primary">
               <div class="card-header">
                  <div class="d-flex w-100 justify-content-between">
                     <h6 class="mb-1">
                        Платформа размещения ЭОР
                     </h6>
                  </div>
                  <small>
                     <img src="{% static passport.platform_logo %}"
                          alt="Logo"
                          width="22"
                          height="22"
                          class="align-text-top me-1">
                  {{ passport.platform_name }}</small>
                  <small><a href="{{ passport.platform_url }}" class="link-light ms-auto">{{ passport.platform_url }}</a></small>
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                     <div class="d-flex justify-content-between">
                        <h6>Ссылка на ЭОР</h6>
                     </div>
                     <small><a href="{{ passport.url }}" class="card-link ms-auto">{{ passport.url }}</a></small>
                  </li>
                  <li class="list-group-item">
                     <div class="d-flex justify-content-between">
                        <h6>Режим доступа</h6>
                     </div>
                     <small>{{ passport.access_mode }}</small>
                  </li>
               </ul>
               <div class="card-footer text-center">
                  <a href="{{ passport.url }}" class="btn btn-light">Открыть</a>
               </div>
            </div>
            <ol class="list-group mt-4">
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">ID ЭОР</div>
                     {{ passport.id }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Состояние ЭОР</div>
                     {{ passport.resource_state }}
                  </div>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     <div class="fw-bold">Состояние Паспорта ЭОР</div>
                     {{ passport.passport_state }}
                  </div>
               </li>
            </ol>
            {% if passport.stamp_state %}
               {% component "stampcard" pas=passport %}{% endcomponent %}
            {% endif %}
            {% if passport.publication_state %}
               {% component "publcard" pas=passport %}{% endcomponent %}
            {% endif %}
         </div>
      </div>
   </div>
{% endblock content %}
